<div>
    <div class="text-purple-950 text-5xl font-bold ml-16">hireHQ</div>
    <div class="p-16">
        <div class="bg-white border rounded-lg drop-shadow-lg p-6 h-96 w-full">
            <p class="text-lg font-medium">Hello user,<br> <br>
            <p class="text-lg font-medium ">Thank you for getting started with hireHQ. Please click the button below
                to verify your account
                and complete the process.</p>
            <div class="flex justify-center">
                <div class="border rounded-md px-6 py-2 text-base bg-purple-950 text-white mt-10 w-60 text-center">
                    <button type="submit">Varify now</button>
                </div>

            </div>
            <p class="text-lg font-medium mt-10">To help us confirm your identity on hireHQ, we need to verify your
                email address. Pleasenote that the this link is valid for only next 30 days.
            <p class="text-lg font-medium mt-14">Team hireHQ
            <p class="text-lg font-medium">You are receiving hireHQ notifications mails
            </p>


        </div>
        <div>
            <p class="mt-5 text-2xl text-gray-500 text-center">You are recieving hireHQ notifications email</p>
            <div class="text-purple-950 text-5xl font-bold text-center mt-10">hireHQ</div>
            <p class="mt-5 text-2xl text-gray-500 text-center">2021 hireHQ.,10 Exchange Place,Suite 1710 Jersey
                City, NJ 07302</p>
        </div>


    </div>


</div>